#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
  font-style: italic;
}

.card-header {
  background-color: #652ad3;
  color: #fff;
  padding: 1rem;
  font-size: 1.2em;
  font-weight: bold;
}

.user-card {
  background-color: #2a2a2a;
  padding: 1.5rem;
}

.user-card .user-name {
  font-size: 1.3em;
  color: #fff;
  font-weight: bold;
}

.user-card .training-plan {
  color: #e71c1c;
  font-size: 1em;
  font-weight: bold;
}

.user-card strong {
  color: #667eea;
}

.register-form {
  background-color: #3a3737;
  padding: 1.5rem;
  color: #fff;
}

.header2{
  text-align: center;
  background-color: #652ad3;
  color: #fff;
  padding: 1rem;
  font-size: 1.2em;
  font-weight: bold;
}
